<p>RealTimeProducts</p>

<form id="form" method="POST">
  <p>https://www.tripstore.com.ar/media/catalog/product/cache/05274af0d548b38ac2c73c40ddac6010/v/n/vn0009qc6bt_1.jpg</p>
    <br>
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required>
    <br>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" required>
    <br>
    <label for="code">Code:</label>
    <input type="text" id="code" name="code" required>
    <br>
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" step="0.01" required>
    <br>
    <label for="status">Status:</label>
    <input type="checkbox" id="status" name="status"  checked required>
    <br>
    <label for="stock">Stock:</label>
    <input type="number" id="stock" name="stock" required>
    <br>
    <label for="category">Category:</label>
    <input type="text" id="category" name="category" required>
    <br>
    <label for="thumbnails">Thumbnails:</label>
    <input type="text" id="thumbnails" name="thumbnails" required>
    <br>
    <button type="submit">Submit</button>

</form>

<main>
    <h2>Lista de productos</h2>

{{#if products}}
  <div class="CardContainer">
      {{#each products}}
     <div class="product-card" style="margin-bottom: 50px;">
             <hr>
      {{#if products.thumbnails.[0]}}
        <img src={{this.thumbnails}} alt="Produc Image" width="10" height="10">
      {{else}}
      <p>NO IMAGE</p>
      {{/if}}
        
         <p>{{this.title}}</p>
         <p>{{this.price }}</p>
           <p>{{this.description }}</p>
              <button>X</button>
              <hr>
           </div>
  </div>  
{{/each}}

{{else}}
        <p>No hay productos disponibles por el momento.</p>

{{/if}}

</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/realTime.js"></script>